<h1><%= @tomato.name %></h1>

<img class="show" src="<%= @tomato.image %>">

<p class="show"><%= @tomato.origin %> </p>
<p class="show"><%= @tomato.color.name %> </p>
<p class="show"><%= @tomato.description%> </p>

<p class="show"><%= @tomato.user.first_name%> <%= @tomato.user.last_name%> </p>