<div class="show-grid">
  <h1 align="center"> <%= @color.name %> Tomatoes</h1>
  <% @tomatoes.each do |tomato| %>
    <div id="color-grid" class="col-xs-4">
      <ul>
        <a href="/tomatoes/<%= tomato.id%>"><%= tomato.name %></a>
        <a href="/tomatoes/<%= tomato.id%>"><img class="thumbnail crop color-grid-item" src="<%= tomato.image %>"alt=""></a>
      </ul>
    </div>
  <% end %>
  <div class="col-xs-12">
    <a href="/colors/">View All Tomato Colors</a>
  </div>
</div>