<div class="right">
  <h3>Sign Up</h3>

  <%= form_tag '/signup' do %>

    <%= label_tag(:first_name, "First Name:") %>
    <%= text_field_tag :first_name, nil, required: true %> <br>

    <%= label_tag(:last_name, "Last Name:") %>
    <%= text_field_tag :last_name, nil %> <br>   

    <%= label_tag(:email_address, "Email Address:") %>
    <%= text_field_tag :email_address, nil, required: true %> <br>

    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag :password, nil, required: true %> <br>

    <%= label_tag(:password_confirmation, "Password Confirmation:") %>
    <%= password_field_tag :password_confirmation, nil, required: true %> <br>
    
    <%= submit_tag value="Sign Up"%>
  <% end %>
</div>
